<!-- Put shit here -->
<!-- Banner -->
<!-- Active Event Division -->

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <h1 style="font-family:'Lucida Sans'; margin-right:auto; text-anchor:middle">Breadcrumbs</h1>
  </ion-navbar>
</ion-header>

<ion-menu [content]="sidebar" type="overlay">
  
  <ion-content style="margin-top:10px">
    <ion-card color="primary" style=" text-align:center; margin-bottom: 20px">
      <ion-row>
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-col>
          <ion-icon name="happy" style="font-size:40px; color:white"></ion-icon>
        </ion-col>
        <ion-col></ion-col>
        <ion-col><button ion-button (click)="Refresh()" style="background-color:transparent"><ion-icon name="refresh"></ion-icon></button></ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="color:white; font-family: 'Lucida Sans'; font-size:medium">
          <ion-label>{{username}}</ion-label>
          <ion-label> {{FirstName}} {{LastName}} </ion-label>
          <ion-label> {{Email}} </ion-label>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-list>
      <!--<button ion-item menuClose class="side-button">
        <ion-icon name="build"></ion-icon>
        Edit Profile
      </button>-->
      <!--<button ion-item menuClose (click)="addContact()" class="side-button">
        <ion-icon name="person-add"></ion-icon>
        Add Contact
      </button>-->
      <button ion-item menuClose (click)="editContacts()" class="side-button">
        <ion-icon name="contacts"></ion-icon>
        Emergency Contacts
      </button>
      <button ion-item menuClose (click)="editAccount()" class="side-button">
        <ion-icon name="finger-print"></ion-icon>
        Edit Account
      </button>

      <!--<button ion-item (click)="favoriteEvent()" class="side-button">
        <ion-icon name ="finget-print"></ion-icon>
        Favorite Event
      </button>-->

      <button ion-item menuClose (click)="logout()" class="side-button" style="color:red">Logout</button>
    </ion-list>
  </ion-content>

</ion-menu>
<ion-nav #sidebar></ion-nav>

<ion-content class="forest">

  <ion-row *ngIf="CurrentEventExists" class="past-events-card-header">
    <ion-col></ion-col>
    <ion-col width-80><h1 style="text-anchor:middle; font-size:30px; text-align:center; color:black; margin-top:-3px; margin-bottom:-3px; background-color:white; opacity:.7"> Active Event </h1></ion-col>
    <ion-col></ion-col>
  </ion-row>

  <!-- Active Event Info -->
  <ion-row style="margin-bottom: -52px;">
    <ion-col> </ion-col>
    <ion-col>

      <ion-card *ngIf="CurrentEventExists" class="event-card">
        <ion-row style="background-color:rgb(92, 138, 109); " class="event-card-header">
          <ion-col></ion-col>
          <ion-col><h1 style="text-anchor:middle; color:white "> {{EventName}} </h1></ion-col>
          <ion-col>
          </ion-col>
        </ion-row>
        <ion-row style="text-align:center; font-family:'Lucida Sans'; font-size:20px; text-align:left">
          <ion-col style="padding-left:20px;">
            <h2 class="bold"> Description: </h2>
            <p style="font-size: 16px; font-family:'Lucida Sans'; text-align:left">
              {{EventDescription}}
            </p>
            <h2 class="bold">Participants</h2>
            <p style="font-size: 16px; font-family:'Lucida Sans'; text-align:left">
              {{EventParticipants}}
            </p>
          </ion-col>
          <ion-col>
            <h2 class="bold">Event Ends:</h2>
            <p>{{EventEndDate}}</p>
          </ion-col>
        </ion-row>
        <!--Buttons-->
        <ion-row>
          <ion-col style="padding-left:20px">
            <button ion-button class="favorite-event-button" (click)="favoriteEvent(CurrentEvent)" type="button"><ion-icon name="star"></ion-icon></button>
          </ion-col>
          <ion-col></ion-col>
          <ion-col><button ion-button class="end-event-button" (click)="checkIn()" type="button">End Event</button></ion-col>
          <ion-col></ion-col>
          <ion-col style="padding-right:20px"><button ion-button class="favorite-event-button" (click)="editEvent()" type="button"><ion-icon name="create"></ion-icon></button></ion-col>
        </ion-row>

      </ion-card>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>

  <!-- No Active Event (Add Event) -->
  <ion-row style="margin-top:40px">
    <ion-col width-10></ion-col>
    <ion-col width-80>
      <button *ngIf="!CurrentEventExists" ion-button class="add-event-button" (click)="addEvent()">+ Event   <ion-icon name="bicycle"></ion-icon> </button>
    </ion-col>
    <ion-col width-10></ion-col>
  </ion-row>

  <ion-row *ngIf="favoriteEventsExist" class="past-events-card-header">
    <ion-col></ion-col>
    <ion-col width-80><h1 style="text-anchor:middle; background-color:white; opacity:.7; font-size:30px; text-align:center; color:black; margin-top:-3px; margin-bottom:-3px"> Favorite Events </h1></ion-col>
    <ion-col></ion-col>
  </ion-row>


  <ion-row *ngFor="let event of favoriteEvents">
    <ion-col></ion-col>
    <ion-col>
      <ion-card class="past-event-card">
        <ion-card-header style="background-color:rgb(130, 86, 126); text-anchor:middle; color:white; font-weight:bolder; font-family:'Lucida Sans'; height:40px">
          {{event.EventName}}
        </ion-card-header>
        <ion-row>
          <ion-col> </ion-col>
        </ion-row>
        <ion-row style="text-align:center; font-family:'Lucida Sans'; font-size:20px; text-align:left">
          <ion-col>
            <h2 class="bold"> Description: </h2>
            <p style="font-size: 16px; font-family:'Lucida Sans'; text-align:left">
              {{event.EventDesc}}
            </p>
            <h2 class="bold">Participants</h2>
            <p style="font-size: 16px; font-family:'Lucida Sans'; text-align:left">
              {{event.EventParticipants}}
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="padding-left:20px">
            <button ion-button class="favorite-event-button" style="background-color:gold; color: black" (click)="favoriteEvent(event)" type="button"><ion-icon name="star"></ion-icon></button>
          </ion-col>
          <ion-col></ion-col>
          <ion-col></ion-col>
          <ion-col style="padding-left:20px"><button ion-button class="favorite-event-button" (click)="editEvent()" type="button"><ion-icon name="create"></ion-icon></button></ion-col>

        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>


    <ion-row *ngIf="PastEventExists" class="past-events-card-header">
      <ion-col></ion-col>
      <ion-col width-80><h1 style="text-anchor:middle; background-color:white; opacity:.7; font-size:30px; text-align:center; color:black; margin-top:-3px; margin-bottom:-3px"> Past Events </h1></ion-col>
      <ion-col></ion-col>
    </ion-row>


    <ion-row *ngFor="let event of inactiveEvents">
      <ion-col></ion-col>
      <ion-col>
        <ion-card class="past-event-card">
          <ion-card-header style="background-color:grey; text-anchor:middle; color:white; font-weight:bolder; font-family:'Lucida Sans'; height:40px">
            {{event.EventName}}
          </ion-card-header>
          <ion-row>
            <ion-col>

            </ion-col>
          </ion-row>
          <ion-row style="text-align:center; font-family:'Lucida Sans'; font-size:20px; text-align:left">
            <ion-col>
              <h2 class="bold"> Description: </h2>
              <p style="font-size: 16px; font-family:'Lucida Sans'; text-align:left">
                {{event.EventDesc}}
              </p>
              <h2 class="bold">Participants</h2>
              <p style="font-size: 16px; font-family:'Lucida Sans'; text-align:left">
                {{event.EventParticipants}}
              </p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="padding-left:20px">
              <button ion-button class="favorite-event-button" (click)="favoriteEvent(event)" type="button"><ion-icon name="star"></ion-icon></button>
            </ion-col>
            <ion-col></ion-col>
            <ion-col></ion-col>
            <ion-col style="padding-left:20px">
              <button ion-button class="favorite-event-button" (click)="viewEvent(event)" type="button"><ion-icon name="information-circle"></ion-icon></button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
</ion-content>
