<!--
  Generated template for the NewPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Forgot Password?</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="!gotCode">
    <ion-item>
      <ion-input *ngIf="!gotCode" round typeof="text" placeholder="Email" name="email" #email></ion-input>
    </ion-item>

    <ion-item>
      <button *ngIf="!gotCode" ion-button round block (click)="submit()">Submit</button>
      <button *ngIf="!gotCode" ion-button round block (click)="gotCodeIf()">Got a reset code?</button>
    </ion-item>

  </ion-list>
  <ion-list *ngIf="gotCode">
    <ion-item>
      <ion-input *ngIf="gotCode" round typeof="text" placeholder="ResetCode" name="code" #code></ion-input>
    </ion-item>
    <ion-item>
      <ion-input *ngIf="gotCode" round typeof="text" placeholder="Password" name="password" #password></ion-input>
    </ion-item>
    <ion-item>
      <ion-input *ngIf="gotCode" round typeof="text" placeholder="Confirm Password" name="confirmPassword" #confirmPassword></ion-input>
    </ion-item>
    <button *ngIf="gotCode" ion-button round block (click)="submitReset()">Submit</button>
    <button *ngIf="gotCode" ion-button round block (click)="gotCodeIf()">Go Back</button>

    <ion-item>
    </ion-item>
  </ion-list>


</ion-content>
