<ion-header class="banner">
  <ion-navbar transparent>
    <h1 style="font-family:'Lucida Sans'; margin-right:auto; text-anchor:middle">Forgot Password?</h1>
  </ion-navbar>
</ion-header>

<ion-content padding [class.content-background]="!isMobile" [class.mobile-background]="isMobile" [style.background-size]="'100% ' + shouldHeight">
  <ion-content class="block" padding [style.background-size]="'100% ' + shouldHeight">
    <ion-list *ngIf="!gotCode">
      <ion-item>
        <ion-input *ngIf="!gotCode" round typeof="text" placeholder="Email" name="email" #email></ion-input>
      </ion-item>

      <button *ngIf="!gotCode" ion-button round block (click)="submit()">Submit</button>
      <button *ngIf="!gotCode" ion-button round block (click)="gotCodeIf()">Got a reset code?</button>
    </ion-list>

    <ion-list *ngIf="gotCode">
      <ion-item>
        <ion-input *ngIf="gotCode" round typeof="text" placeholder="ResetCode" name="code" #code></ion-input>
      </ion-item>
      <ion-item>
        <ion-input *ngIf="gotCode" round type="password" placeholder="Password" name="password" #password></ion-input>
      </ion-item>
      <ion-item>
        <ion-input *ngIf="gotCode" round type="password" placeholder="Confirm Password" name="confirmPassword" #confirmPassword></ion-input>
      </ion-item>
      <button *ngIf="gotCode" ion-button round block (click)="submitReset()">Submit</button>
      <button *ngIf="gotCode" ion-button round block (click)="gotCodeIf()">Cancel</button>
    </ion-list>
  </ion-content>
  </ion-content>
