page-forgotPassword {
  .content-background {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)),url(../../assets/mountain.JPG);
    background-size: cover;
  }

  ion-header ion-icon.back-button-icon.icon,
  ion-header span.back-button-text.back-button-text-ios {
    color: #ffffff;
  }

  .mobile-background {
    background-color: lightblue;
    background-size: cover;
  }

  .bridge {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.4)),url(../assets/bridge.jpeg);
    background-size: cover;
  }

  .button {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: 'Lucida Sans'
  }

  .scroll-content {
    overflow-y: auto !important;
  }

  .banner {
    background: #63365f;
    text-align: center;
    height: 70px;
    color: white
  }

  ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Lucida Sans'
  }

  .block {
    background-color: rgba(0,0,0,0.5);
  }

  ion-input {
    background-color: rgba(0,0,0,0);
  }

  ion-button {
    background-color: rgba(0,0,0,0);
  }

  ion-list {
    background-color: rgba(0,0,0,0);
  }

  .item.item-input {
    background-color: transparent;
  }
}
