<ion-header class="banner">
  <ion-navbar transparent>
    <h1 style="font-family:'Lucida Sans'; margin-right:auto; text-anchor:middle">Emergency Contacts</h1>
  </ion-navbar>
</ion-header>

<ion-content padding [class.content-background]="!isMobile" [class.bridge]="isMobile" [style.background-size]="'100% ' + shouldHeight">
  <ion-row *ngFor="let data of contacts">
    <ion-card class="cardconteudo">
      <ion-row>
        <ion-col width
           style="color: white; vertical-align:middle; font-size:30px; font-family:'Lucida Sans';">
            {{data.ContactFirstName}}
            {{data.ContactLastName}}
        </ion-col>
        <ion-col>
          <button ion-button class="button-option" *ngIf="!isMobile" (click)="editContact(data.EmergencyContactID, data.ContactFirstName, data.ContactLastName, data.ContactPhoneNumber, data.ContactEmailAddress)">Edit</button>
          <button ion-button class="button-option" *ngIf="!isMobile" (click)="deleteContact(data.EmergencyContactID)">Delete</button>
          <button ion-button class="button-option" *ngIf="isMobile" (click)="editContact(data.EmergencyContactID, data.ContactFirstName, data.ContactLastName, data.ContactPhoneNumber, data.ContactEmailAddress)">
            <ion-icon name="create"></ion-icon>
          </button>
          <button ion-button class="button-option" *ngIf="isMobile" (click)="deleteContact(data.EmergencyContactID)">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-row>

  <ion-row>
    <button ion-button (click)="addContact()">Add Contact</button>
  </ion-row>

</ion-content>
