page-viewEvent {
  .button {
    box-shadow: inherit;
    text-shadow: initial;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid medium grey;
    background-color: white;
    color: black;
    width: 90px;
    font-family: 'Lucida Sans'
  }
}
