page-addevent {

  .content-background {
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../../assets/mnt_rz.png);
    background-size: cover;
  }

  .mobile-background {
    background-color: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.4)),url(../assets/rsz_1forest.png);
    background-size: cover;
  }

  ion-searchbar {
    background-color: black;
    color: white;
  }

  .bridge {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.4)),url(../assets/bridge.jpeg);
    background-size: cover;
  }

  .button {
    //box-shadow: inherit;
    //text-shadow: initial;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    //border: solid medium grey;
    //background-color: white;
    //color: black;
    //width: 90px;
    font-family: 'Lucida Sans'
  }

  .banner {
    background: #63365f;
    text-align: center;
    height: 70px;
    color: white
  }

  .addcontact-button {
    box-shadow: inherit;
    text-shadow: initial;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid medium grey;
    background-color: white;
    color: black;
    width: 90px;
    text-align: right;
    font-family: 'Lucida Sans'
  }

  #floating-panel {
    position: absolute;
    top: 10px;
    right: 5px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }

  ion-header ion-icon.back-button-icon.icon,
  ion-header span.back-button-text.back-button-text-ios {
    color: white;
  }

  #AddEventMap {
    height: 60%;
    width: 100%;
    position: center;
    margin: 0px;
    padding: 0px;
  }

  ion-input {
    color: white;
  }

  ion-datetime {
    color: white;
  }

  #searchbar {
    border: thick;
    border-color: black;
  }

  .item-md {
    background: transparent;
  }

  .item-ios {
    background: transparent;
  }
}
