page-viewevents {

  .center {
    text-align: center;
  }

  .content-background {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.4)),url(../../assets/mnt_rz.png);
    background-size: cover;
  }

  .mobile-background {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.4)),url(../assets/rsz_1forest.png);
    background-size: cover;
  }

  .bridge {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.4)),url(../assets/bridge.jpeg);
    background-size: cover;
  }

  .button-float-right {
    z-index: 12;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 50% !important;
  }

  .button-float-left {
    z-index: 12;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    position: fixed;
    bottom: 15px;
    height: 50px;
    width: 50px;
    left: 15px;
    border-radius: 50% !important;
  }

  .jeep {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../../assets/jeep.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .white {
    background-color: darkgrey;
    background-size: cover;
  }

  .bold {
    font-weight: bolder;
  }

  .event-card-header {
    font-size: 20px;
    font-family: 'Lucida Sans';
    text-align: center;
  }

  .ionic-logo {
    display: inline-flex;
    position: relative;
    width: 87px;
    height: 87px;
    border: 3.5px solid #5E86C4;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
  }

  .favorite-event-logo {
    padding-left: 20px;
    background-color: gold;
    color: black;
    font-size: 16px;
    font-family: 'Lucida Sans';
    box-shadow: inherit;
    text-shadow: initial;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .ionic-logo:after {
    content: '';
    position: absolute;
    width: 38px;
    height: 38px;
    background: #5E86C4;
    top: 50%;
    left: 50%;
    margin-left: -19px;
    margin-top: -19px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
  }

  .ionic-logo:before {
    content: '';
    background: #5E86C4;
    width: 14px;
    height: 14px;
    position: absolute;
    top: -8px;
    left: 50%;
    margin-left: -7px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
  }

  .profile {
    font-family: 'Lucida Sans';
    color: white;
    text-align: left;
    font-size: 20px;
  }

  .add-event-button {
    width: 100%;
    height: 70px;
    text-align: center;
    font-size: 26px;
    /*background-color: lightgrey;
    color: black;*/
    font-family: 'Lucida Sans';
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /*border: solid medium grey;*/
  }

  .event-card {
    //border: solid medium black;
    //min-width: 300px;
    background-color: rgba(0,0,0,0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
  }

  .past-event-card {
    //border: solid medium black;
    //min-width: 300px;
    background-color: rgba(0,0,0,0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
  }

  .banner {
    background: #63365f;
    text-align: center;
    height: 70px;
    color: white
  }

  ion-header ion-icon.back-button-icon.icon,
  ion-header span.back-button-text.back-button-text-ios {
    color: white;
  }

  .end-event-button {
    background-color: red;
    font-size: 16px;
    font-family: 'Lucida Sans';
    box-shadow: inherit;
    text-shadow: initial;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .share-event-button {
    padding-left: 20px;
    background-color: rgb(79, 139, 221);
    font-size: 16px;
    font-family: 'Lucida Sans';
    box-shadow: inherit;
    text-shadow: initial;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .favorite-event-button {
    padding-left: 20px;
    background-color: rgb(79, 139, 221);
    font-size: 16px;
    font-family: 'Lucida Sans';
    box-shadow: inherit;
    text-shadow: initial;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .breadcrumbs-banner {
    text-align: center;
    font-family: 'Razer Regular';
    font-size: 24px;
    height: 7%;
    background-color: lightblue;
  }

  .breadcrumbs-sidebar-button {
    background-color: transparent;
    height: inherit;
    width: 40px;
    left: 5px;
    top: -3px;
    position: absolute;
    color: black;
    text-align: center;
    font-size: larger;
  }

  .side-button {
    font-family: 'Lucida Sans';
    font-size: larger;
  }
}
